#about-me-container {
  user-select: none;
}

#am-logo-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

#img-logo {
    filter: drop-shadow(0px 0px 30px var(--color-opuesto));
    animation: resize 5s infinite;
    padding: 20px;
}

#am-description-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#am-arrow {
    position: absolute;
    bottom: 10px;
}

#am-title, #am-arrow {
  font-size: 80px;
}



@keyframes resize {
    0%, 100% {
      transform: scale(1);
    }
    25%, 75% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
