#cp-container {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 50px;
    color: var(--color-opuesto);
    font-size: 40px;
    text-align: center;
}

.contact-icon {
    color: var(--color-opuesto);
    margin: 5px;
}

.cp-icon-container, #cp-img-logo {
    animation: resize 5s infinite;
}

#cp-img-logo {
    filter: drop-shadow(0px 0px 30px var(--color-opuesto));
    width: 300px;
}

@keyframes resize {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }