#experience-container {
    align-content: space-around;
}

.ec-element {
    width: 50%;
}

#ec-work-container, #ec-curriculum-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#ec-education-container {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

#ec-curriculum-container {
    
}

