#language-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#language-img {
    width: 70px;
    margin-bottom: 5px;
}