#language-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

#language-img {
    width: 100px;
}