:root {
    --fuente: Georgia, serif;
    --color-principal: #04c4fc;
    --color-secundario: #055168;
}

#main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#sw-social-container {
    width: 20vw;
    height: 33vh;
    display: flex;
    flex-wrap: wrap-reverse;
    outline: black 3px solid;
    background-color: var(--color-principal);
    font-family: var(--fuente);

}

.container {
    background-color: #055168;
}