:root {
    --fuente: "IBM Plex Sans", serif;
    --color-principal: #04c4fc;
    --color-secundario: #fff;
    --color-terciario: #6ac1db;
}

#main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--fuente);
    font-weight: bold;
}

#particles {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    /* background-color: var(--color-principal); */
    background: radial-gradient(circle at bottom left, var(--color-terciario) 30%, var(--color-principal) 50%); 
}