@keyframes resize {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

/* Aplicar la animación a la imagen */
.imagen {
  width: 300px;
  height: 300px;
  animation: resize 3s infinite; /* 3s para la duración de la animación */
}