#container {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-principal);
    width: 100vw;
    height: 50%;
    flex-wrap: wrap;
    align-content: center;
    
}

.icono {
    font-size: 50px;
}

#linkedin {
    color: #0e76a8;
}