#social-component {
    display: flex;
    justify-content: start;
    width: 30%;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    
}

.icono {
    font-size: 50px;
    width: 50px;
}

#linkedin {
    color: #0e76a8;
}
.social-element {
    margin: 0px 10px;
}

#avatar {
    border-radius: 200px;
}