.sw-component {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end; 
    align-items: center;
    margin: 0px 30px;
}

.country-logo {
    width: 15px;
}


.light-icon {
    font-size: 15px;
    color: var(--color-secundario);
}
